<div class="page-content">
  <div class="page-header position-relative">
    <h1>Editing user</h1>
  </div>
  <!--/.page-header-->

  <div class="row-fluid">
    <div class="span12">
      <!--PAGE CONTENT BEGINS-->

      <div class="row-fluid">
        <%= render 'form' %>

        <!-- <%= link_to 'Show', @user %> |
        <%= link_to 'Back', users_path %> -->

      </div>
    </div>
  </div>
</div>



