<h1>Listing Game play</h1>
<table>
  <tr>
    <th>Game Name</th>
    <th>Download Link</th>
  </tr>
  <tr>
    <td>Android LOP</td>
    <td><%= link_to 'Download', '/gameplay/LOP_20131227.apk' %></td>
  </tr>
  <tr>
    <td>Java LOP</td>
    <td><%= link_to 'Download', '/gameplay/LOP.jar' %></td>
  </tr>
</table>

